[user]
	name = Tad Preston
	email = tadpreston@gmail.com
[core]
	editor = vim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
